<script type="text/javascript" src="/third-party/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/third-party/jquery-weui-0.8/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="/third-party/pagination/query.js"></script>
<script type="text/javascript" src="/third-party/pagination/paging.js"></script>
<script type="text/javascript" src="/third-party/bootstrap-select-1.10.0/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/third-party/swiper/swiper-3.3.1.jquery.min.js"></script>
<script type="text/javascript" src="/third-party/mustache/mustache.min.js"></script>

<script type="text/javascript" src="/base/js/common/common_front.js" title="bv"></script>
<script type="text/javascript" src="/base/js/common/common_front_ui_weui.js" title="bv"></script>
<script type="text/javascript" src="/js/front/common.js" title="v"></script>

<script type="text/javascript" src="/js/common/main.js"></script>



<!--<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
<!--<script type="text/javascript" src="/third-party/qrcode/utf.js"></script>-->
<!--<script type="text/javascript" src="/third-party/qrcode/jquery.qrcode.js"></script>-->
<!--<script type="text/javascript" src="/third-party/jquery.SuperSlide/jquery.SuperSlide.2.1.1.js"></script>-->
<!--<script type="text/javascript" src="/third-party/pzselect/pzselect.1.0.js" ></script>-->
<!--<script type="text/javascript" src="/base/js/common/common_front_ui_bootstrap.js" title="bv"></script>-->
