<!-- 拨号页 -->

<div id="actionSheet_wrap">
    <div class="weui_mask_transition" id="call_mask" style="display:none;"></div>
    <div class="weui_actionsheet" id="call_weui_actionsheet" style="z-index:9999;">
        <div class="weui_actionsheet_menu">
			<div id="callPage" class="tagPage callPage" style="">
				<div class="keyboard">
					<div style="font-size:20px;">
						<div id="call_opt_bid" style="background-color:#ECECEC;height:52px;display:none;">
							<span style="position: relative;bottom: 10px;">领先价：</span>
							<span id="call_current_price" style="color:#009999;font-size:35px;position: relative;bottom: 5px;"></span>
						</div>
						<div style="clear:both;"></div>
						<div style="margin:5px;">
							<span style="position: relative;bottom: 8px;">金额：</span>
							<span id="numView" style="color:#009999;font-size:40px;" class="numView"></span>
							<span class="call_clear_num" style="float: right;padding: 10px;font-size: 24px;"><i class="fa fa-times-circle-o"></i></span>
						</div>
					</div>
					<div id="call_opt_bid2" style="background-color:#ECECEC;height:52px;">
						<button id="call_opt_bid4" class="weui_btn weui_btn_mini weui_btn_primary pointer" style="margin-top:6px;height:40px;width:100%;" onclick="doBid();">确定出价</button>
					</div>
				    <div class="kb-row">
				        <div class="kb-key numKey "><h1>1</h1></div>
				        <div class="kb-key numKey"><h1>2</h1></div>
				        <div class="kb-key numKey"><h1>3</h1></div>
				    </div>
				    <div class="kb-row">
				        <div class="kb-key numKey"><h1>4</h1></div>
				        <div class="kb-key numKey"><h1>5</h1></div>
				        <div class="kb-key numKey"><h1>6</h1></div>
				    </div>
				    <div class="kb-row">
				        <div class="kb-key numKey"><h1>7</h1></div>
				        <div class="kb-key numKey"><h1>8</h1></div>
				        <div class="kb-key numKey"><h1>9</h1></div>
				    </div>
				    <div class="kb-row">
				        <div class="kb-key numKey" style="background-color:#F3F2F2"><h1>00</h1></div>
				        <div class="kb-key numKey spaceBtn"><h1>0</h1></div>
				        <div class="kb-key backBtn" style="background-color:#F3F2F2"><h1 class="fa fa-arrow-circle-o-left"></h1></div>
				    </div>
				</div>
			</div>
        </div>
        <div class="weui_actionsheet_action">
            <div class="weui_actionsheet_cell pointer" id="call_actionsheet_cancel">关闭</div>
        </div>
    </div>
</div>	


<!--
<div id="actionSheet_wrap">
    <div class="weui_mask_transition" id="call_mask" style="display:none;"></div>
    <div class="weui_actionsheet" id="call_weui_actionsheet">
        <div class="weui_actionsheet_menu">
			<div id="callPage" class="tagPage callPage" style="">
				<div class="keyboard">
					<div style="font-size:20px;">
						<div style="background-color:#ECECEC;">
							<span>领先价</span>
							<span style="color:blue;">20元</span>
							<span style="float:right;">X</span>
						</div>
						<div>出价<div id="numView" class="numView"></div></div>
					</div>
				    <div class="kb-row">
				        <div class="kb-key numKey "><h1>1</h1></div>
				        <div class="kb-key numKey"><h1>2</h1></div>
				        <div class="kb-key numKey"><h1>3</h1></div>
				    </div>
				    <div class="kb-row">
				        <div class="kb-key numKey"><h1>4</h1></div>
				        <div class="kb-key numKey"><h1>5</h1></div>
				        <div class="kb-key numKey"><h1>6</h1></div>
				    </div>
				    <div class="kb-row">
				        <div class="kb-key numKey"><h1>7</h1></div>
				        <div class="kb-key numKey"><h1>8</h1></div>
				        <div class="kb-key numKey"><h1>9</h1></div>
				    </div>
				    <div class="kb-row">
				        <div class="kb-key callBtn" style="padding-top: 20px;"><h1 class="icon-phone green"></h1></div>
				        <div class="kb-key numKey spaceBtn"><h1>0</h1></div>
				        <div class="kb-key backBtn" style="padding-top: 20px;"><h1 class="icon-angle-left red"></h1></div>
				    </div>
				</div>
			</div>
        </div>
        <div class="weui_actionsheet_action">
            <div class="weui_actionsheet_cell pointer" id="call_actionsheet_cancel">关闭</div>
        </div>
    </div>
</div>
-->

