<div id="monkeyOuterDiv" class="monkey" style="height:0px;top:12%">
	<div class="monkey_pic" style="width: 72px;height: 66px;   z-index: 9999;">
		<img src="/images/front/59.gif" width="72" height="66" onclick="toggleMonkey();"/>
	</div>
	<div id="monkeyMenuOuter" class="kymenu">
		<div id="monkeyMenu" class="menupo" status="hide">
			<li class="mrt_4 frontHide" style="left: 40px;top: 107px;width:70px;">
					<button type="button" class="btn btn-success" style="position: relative;right: 115px;" onclick="showQRCode('show');">二维码</button>
			</li>
			<li class="mrt_1 frontHide"><a href="javascript:void(0);" onclick="bottomJumpUrl('/')">首页</a></li>
			<li class="mrt_2 frontHide"><a href="javascript:void(0);" onclick="frontBaseAlert('客服电话：40000000');toggleMonkey();">客服</a></li>
			<li class="mrt_3 frontHide"><a href="javascript:void(0);" onclick="bottomJumpUrl('/fans')">师友</a></li>
			<!--//TODO-tempHide <li class="mrt_4 frontHide" style="width:36px;"><a href="javascript:void(0);" onclick="bottomJumpUrl('/shake')">摇摇</a></li>-->
			<li class="mrt_5 frontHide"><a href="javascript:void(0);" onclick="bottomJumpUrl('/market')">鬼市</a></li>
			<li class="mrt_6 frontHide"><a href="javascript:void(0);" onclick="bottomJumpUrl('/inst')">拍卖</a></li>
			<li class="mrt_7 frontHide"><a href="javascript:void(0);" onclick="bottomJumpUrl('/myShop')" >我的</a></li>
			<!--<li class="mrt_7 frontHide"><a href="javascript:void(0);" onclick="showMy();">我的</a></li>-->
		</div>
	</div>
</div>


<!--
<div id="monkeyOuterDiv" class="monkey">
	<div class="kymenu">
		<div id="monkeyMenu" class="menupo">
			<div class="monkey_pic" style="margin:100px 0 0 85px;" >
				<img src="/images/front/59.gif" width="72" height="66" onclick="$('#monkeyMenu li').toggle();"/>
			</div>
			<li class="mrt_1 frontHide"><a href="/">首页</a></li>
			<li class="mrt_2 frontHide"><a href="javascript:void(0);">客服</a></li>
			<li class="mrt_3 frontHide"><a href="/fans">师友</a></li>
			<li class="mrt_4 frontHide"><a href="/shake">摇摇</a></li>
			<li class="mrt_5 frontHide"><a href="/market">鬼市</a></li>
			<li class="mrt_6 frontHide"><a href="/auctionInst">拍卖</a></li>
			<li class="mrt_7 frontHide"><a href="/myShop" >我的</a></li>
		</div>
	</div>
</div>
-->


