<div id="yp_menu" style="font-size: 16px;display:none;">
 	<div id="yp_mask" onclick="showQRCode('hide');"></div>
 	<div id="yp_menus" class="zy_scaleIn" style="width:auto;top:50px;height: 320px;">
 		<div id="yp_menu_div" style="display:inline-block">
     		<div id="yp_menu_top" style="">
     			<!-- <img src="http://im.project_bespeakch.com/res/js/hammer/xiaobao/xiaobao.gif" style="position:absolute;top:0;left:0;width:20px"> -->
     			<span id="yp_menu_title" style="font-size:14px;">您的专属二维码</span>
     			<a id="yp_menu_close" onclick="showQRCode('hide');">X</a>
     		</div>
	       <div id="yp_popup_html">
	       		<div id="qrcodeCanvas" style="text-align:center"></div>
	       		<p id="urlText" class="copy_btn pointer" data-clipboard-text="" style="font-size:12px;width:220px;word-wrap:break-word; word-break:normal;"></p>
	       </div>
 		</div>
 	</div>
</div>
