<div class="t_0100_24_box">
	<div class="new_list">
    	<ul>
    	    <li><a href="javascript:void(0);" onclick="bottomJumpUrl('/auctions')">专场</a></li>
            <li><a href="javascript:void(0);" onclick="bottomJumpUrl('/as')">微拍</a></li>
            <!--//TODO-tempHide<li><a href="javascript:void(0);" onclick="bottomJumpUrl('/aqIndex')">即时拍</a></li>-->
            <!--//TODO-tempHide<li><a href="javascript:void(0);" onclick="bottomJumpUrl('/wholesale')">批发城</a></li>-->
            <li><a href="javascript:void(0);" onclick="bottomJumpUrl('/forums')">论坛</a></li>
            <!--//TODO-tempHide<li><a href="javascript:void(0);" onclick="bottomJumpUrl('/shake')">摇一摇</a></li>-->
            <li><a href="javascript:void(0);" onclick="bottomJumpUrl('/market')">鬼市</a></li>
            <li><a href="javascript:void(0);" onclick="bottomJumpUrl('/fans')">师友</a></li>
            <li><a href="javascript:void(0);" onclick="bottomJumpUrl('/user')">个人中心</a></li>
        </ul>
    </div>
	<div class="t_0100_24">
        <div class="l_return" onclick="history.back(-1)"><a href="javascript:void(0);">返回</a></div>
        <div class="r_daohang"><a href="javascript:void(0);" onclick="navauto()"><img src="/images/front/forum_img1.png" width="20" height="20" />&nbsp;导航</a></div>
        <div class="r_daohang" onclick="location.reload();"><a href="javascript:void(0);"><img src="/images/front/forum_img2.png" width="20" height="20" />&nbsp;刷新</a></div>
        <div class="r_daohang" onclick="bottomJumpUrl('/')"><a href="javascript:void(0);"><img src="/images/front/forum_img3.png" width="20" height="20" />&nbsp;首页</a></div>
    </div>
    <div class="new_list_down" onclick="navauto()"><img src="/images/front/forum_img15.png" width="31" height="13" /></div>
</div>






