<div class="pf_menu" id="navSlide" style="display: none;">
	<div class="top_menu">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="20%" class="menu_span1"><a href="javascript:;" onclick="$('.pf_menu,.cha').hide(200);">取消</a></td>
				<td width="60%" align="center" class="menu_span2">分类</td>
				<td width="20%" align="right" class="menu_span1" onclick="search(2);"><a href="javascript:void(0);">确定</a></td>
			</tr>
		</table>
	</div>
	<div class="se_menu">
		<div class="search_box">
			<div class="tt_one">
				<div class="l_118">
					<a href="javascript:void(0);" id="ss2" class="sstext">
						<span id="searchLabel2" role="1">藏品</span>&nbsp;
						<img src="/images/front/menu_img1.png" width="5" height="4" />
					</a>
				</div>
				<div class="r_305">
					<div class="l_205">
						<input name="" type="text" placeholder="输入藏品名称" class="bfom2" id="ss2_input" style="color:#464545;"/>
					</div>
					<div class="r_18" onclick="search(2);">
						<a href="javascript:void(0);"><img src="/images/front/menu_img2.png" width="18" height="18" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="menu">
		<ul id="slideSearchTypes">
			<li id="sld_type_000" onclick="switchSldSrhType();" class="l1 on"><a href="javascript:void(0);" class="l1_a">全部</a></li>
			<li id="sld_type_129" onclick="switchSldSrhType(129);" class="l1"><a href="javascript:void(0);" class="l1_a">杂珍</a></li>
			<li id="sld_type_128" onclick="switchSldSrhType(128);" class="l1"><a href="javascript:void(0);" class="l1_a">陶瓷</a></li>
			<li id="sld_type_127" onclick="switchSldSrhType(127);" class="l1"><a href="javascript:void(0);" class="l1_a">金石</a></li>
			<li id="sld_type_126" onclick="switchSldSrhType(126);" class="l1"><a href="javascript:void(0);" class="l1_a">竹木</a></li>
			<li id="sld_type_125" onclick="switchSldSrhType(125);" class="l1"><a href="javascript:void(0);" class="l1_a">玉器</a></li>
			<li id="sld_type_124" onclick="switchSldSrhType(124);" class="l1"><a href="javascript:void(0);" class="l1_a">珠宝</a></li>
			<li id="sld_type_123" onclick="switchSldSrhType(123);" class="l1"><a href="javascript:void(0);" class="l1_a">书画</a></li>
			<li id="sld_type_122" onclick="switchSldSrhType(122);" class="l1"><a href="javascript:void(0);" class="l1_a">钱证</a></li>
			<li id="sld_type_121" onclick="switchSldSrhType(121);" class="l1"><a href="javascript:void(0);" class="l1_a" style="border: 0;">文玩</a></li>
		</ul>
	</div>
</div>