<!DOCTYPE html>
<html >
<head>
<link type="text/css" rel="stylesheet" href="/third-party/jquery-weui-0.8/css/jquery-weui.css"/>
<link type="text/css" rel="stylesheet" href="/third-party/jquery-weui-0.8/css/jquery-weui.min.css"/>
<!-- <link rel="stylesheet" href="/css/front/...." title="v"> -->
   <meta charset="UTF-8">
    <title>预约技师</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="lhfeiyu.com">
    <meta name="keywords" content="迈噜-预约技师">
    <meta name="description" content="迈噜">
    <link rel="stylesheet" href="/css/front/main.css">
    <link rel="stylesheet" href="/css/front/jquery-weui.min.css">
</head>
<body>
        <a href="javascript:;" id="about" class="open-popup" data-target="">About</a>
  <div class="weui-popup-container popup-bottom">
  	<div class="weui-popup-overlay"></div>
  		<div class="weui-popup-modal">
    		<img alt="" src="/images/front/pjx.png">
  		</div>
	</div>
<script type="text/javascript" src="/third-party/jquery-weui-0.8/js/jquery-weui.min.js"></script>
</body>
</html>